<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SECURE APP</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sing Out</button>
</nav>
<div class="container" style="margin-top: 50px;">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="form-group">
                <button class="btn btn-outline-primary btn-sd" style="width: 100%;" (click)="generateKeys()">GENERATE KEYS</button>
            </div>

            <div class="form-group">
                <label class="small-font" for="txtEmail"
                        style="font-weight: bold; font-size: 15px; margin-top: 20px;margin-bottom: 0px;">PUBLIC KEY
                        </label>
                <textarea placeholder="Public Key" class="form-control" id="publicKey" rows="3" [(ngModel)]="publicKey"></textarea>
            </div>

            <div class="form-group">
                <label class="small-font" for="txtEmail"
                        style="font-weight: bold; font-size: 15px; margin-top: 20px;margin-bottom: 0px;">PRIVATE KEY
                        </label>
                <textarea placeholder="Private Key" class="form-control" id="privatekey" rows="3" [(ngModel)]="privateKey"></textarea>
            </div>

        </div>

    </div>
</div>