<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">SECURE APP</a>
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)="singOut()">Sing Out</button>


</nav>
<div class="container">

    <div class="row">
        <div class="col-md-4">            
            <h2 style="margin-top:100px"> FUNCIONALIDADES:</h2>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <a [routerLink]="['./../users']" style="margin-top:30px;font-size: 17px;" class="btn btn-secondary btn-lg form-control">
                    DOWNLOAD USERS</a>

                <a [routerLink]="['./../encryption']" style="margin-top:30px;font-size: 17px;" class="btn btn-secondary btn-lg form-control"> FILE
                    ENCRYPTION - DECRYPTION </a>

                <a [routerLink]="['./../validation']" style="margin-top:30px;font-size: 17px;" class="btn btn-secondary btn-lg form-control"> FILE
                    SIGNING - VALIDATION </a>

                <a [routerLink]="['./../login']" type="button" style="margin-top:30px" class="btn btn-outline-danger btn-lg form-control">
                    SING OUT </a>
            </div>
        </div>
    </div>

</div>